body {
    background-image: url(../images/background_escreverArtigo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
}